<%- contentFor('title') %>
    Presentation

<%- contentFor('body') %>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/home"><img src="/images/llama-01.png" width="30" height="30" alt="">  Lama</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/sign/"> Sign</a>
            </li> 
        </ul>
    </div>
</nav>
<div class="container animated fadeIn">
        <h1 class="display-1 text-center" style="color:white">Lama</h1> 
        <p style="color:white" class="text-center"><i>Tired of looking members for your project ? Let us help you !</i></p>
        <div class="row">
                <div class="col-sm-6">
                    <div class="card card-pres">
                      <h3><center>Join a team !</center></h3>
              <div class="card-body text">
                <p class="card-text ">Tired of looking members for your project ? Let us help you !</p> 
              </div>
            </div>
                </div>
                    <div class="col-sm-6">
                    <div class="card card-pres">
                      <h3><center>Join a team !</center></h3>
              <div class="card-body">
                <p class="card-text"><i>Tired of looking members for your project ? Let us help you !</i></p> 
              </div>
            </div>
                </div>
              </div>
</div>
