<%- contentFor('title') %>
    Lama

<%- contentFor('body') %>
<div class="container">
   <div class="profile-container">
       <div class="profile-header d-flex flex-column justify-content-center">
           <img src="https://randomuser.me/api/portraits/men/3.jpg" alt="" class="profile-img">
           <h1>Profile name</h1>
           <div class="skills-list">
                   <span class="badge badge-pill badge-primary">Primary</span>
                   <span class="badge badge-pill badge-primary">Primary</span>
                   <span class="badge badge-pill badge-primary">Primary</span>
           </div>
       </div>
       <div class="profile-bio">
           <h3>Bio</h3>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid tempora possimus expedita, tempore vitae quisquam. Nam ut quod in consectetur repudiandae quos deleniti iste? Ipsa amet tempora veritatis at rerum.</p>
       </div>
   </div>
   
</div>