<%- contentFor('title') %>
    Project

<%- contentFor('body') %>
<div class="container animated fadeIn">
        <div class="card post">
                <div class="row" style="margin:10px">
                    <div class="col-xs-6 col-md-4 col-lg-2 d-flex flex-column justify-content-center">
                            <a href="#"><img src=# class="img-rounded mb-2 user-img"></a>
                        <a href="#" class="author-link">Author</a>
                    </div>
                    <div class="col-xs-6 col-md-8 col-lg-10 d-flex flex-column justify-content-between">
                        <h1>
                            <a href="#">Title</a>
                        </h1>
                        <p class="post-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia nesciunt iste non atque accusamus eius repellendus doloribus explicabo voluptates alias, voluptate, ullam corporis accusantium, obcaecati libero architecto odio praesentium nobis!</p>
                        <div class="d-flex skill-wrapper">
                                <span class="badge badge-pill badge-primary">Skill</span>                    
                        </div>
                        <div class="post-footer">
                            <button class="btn btn-outline-primary apply-btn ">Apply</button>
                        </div>
                    </div>
                </div>
              </div>
</div>