<%- contentFor('title') %>
    Sign up

<%- contentFor('body') %>
<div class="container animated fadeIn">
    <div class="card center-card" style="width: 30rem;">
            <h1 class="display-1">Sign Up</h1>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label>First Name</label>
                <input type="text" class="form-control"aria-describedby="nameHelp" placeholder="John" required>
                    <label>Last Name</label>
                <input type="text" class="form-control"aria-describedby="nameHelp" placeholder="Doe" required>
                    <label>Picture URL</label>
                <input type="url" class="form-control"aria-describedby="urlHelp" placeholder="www.picture.com/mypicture">
                <label>Email address</label>
                <input type="email" class="form-control"aria-describedby="emailHelp" placeholder="Enter email" required>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>