@import "./normalize.css";

html, body {
  height: 100%;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: linear-gradient(to bottom right, cyan, blue);  
    
}

a {
  color: #00B7FF;
}


/*=============================================
=            Override Bootstrap               =
=============================================*/

.badge {
  margin-right: 5px !important;
  padding: 10px !important;
}

/*=====  End of Override Bootstrap     ======*/



.navbar {
  margin-bottom: 30px;
}

/*=============================================
=            Post                             =
=============================================*/

.card.post {
  margin-bottom: 10px;
}

.post-desc {
  overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 5;
-webkit-box-orient: vertical;
}

.skill-wrapper {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  margin-bottom: 10px;
}

/*=====  End of Post                   ======*/




/*=============================================
=            MyProfil                         =
=============================================*/

.profile-container {
  background-color: #fff;
  padding: 15px;
}
.profile-img{
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.profile-header {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
/*=====  End of MyProfil               ======*/


